<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="saveEleccion()">
    <mat-form-field appearance="fill" class="input-field">
      <input matInput placeholder="Nombre" formControlName="nombre">
      <mat-error *ngIf="form.controls['nombre'].hasError('required')">El nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="button-container">
      <button mat-button type="submit" [disabled]="form.invalid">Guardar</button>
      <button mat-button (click)="closeModal($event)">Cerrar</button>
    </div>
  </form>

</mat-dialog-content>
