
<mat-accordion class="example-headers-align">
  <mat-expansion-panel  (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>

      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'Ocultar' : 'Mostrar'}} las bancas obtenidas por sistema Dhondt
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p *ngFor="let c of candidatosPorDhont">
      {{c}}
    </p>
  </mat-expansion-panel>
</mat-accordion>


<button type="button" *ngIf="hayNuevosDatos" (click)="refresh()">
  actualizar
</button>

<div id="chartContainer" style="height: 600px;"></div>

<div  *ngFor="let item of votos">
  <p>{{item.name}} = {{item.votes}}</p>
</div>
