<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="saveCandidato()">
    <mat-form-field appearance="fill" class="input-field">
      <input matInput placeholder="Apellido" formControlName="apellido">
      <mat-error *ngIf="form.controls['apellido'].hasError('required')">El apellido es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <input matInput placeholder="Nombres" formControlName="nombre">
      <mat-error *ngIf="form.controls['nombre'].hasError('required')">Los nombres son requeridos</mat-error>
    </mat-form-field>


    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
      <button mat-button (click)="closeModal($event)">Cerrar</button>
    </div>
  </form>
</mat-dialog-content>
